/* navbar colors override */
.navbar,
.nav .navbar-nav,
.nav .navbar-inverse {
  background-color: #95a5a6;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #778485;
}
/* navbar a:hover color override with important */
/* .navbar a:hover {
  color: #edb73e !important;
} */
.navbar-inverse .navbar-toggle {
  border-color: #778485 !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #778485 !important;
}

.osgs-footer a {
  color: #778485;
}

.osgs-footer {
  /* set fixed footer */
  position: fixed;
  height: 3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 1;
}

.osgs-footer-spacer {
  /* set footer spacer */
  position: block;
  height: 4rem;
  left: 0;
  bottom: 0;
  width: 100%;
}

.editor-sm-body .ck-placeholder,
.editor-sm-body .ck-editor__editable_inline {
  min-height: 15px;
}

.editor-md-body .ck-placeholder,
.editor-md-body .ck-editor__editable_inline {
  min-height: 200px;
}

.editor-lg-body .ck-placeholder,
.editor-lg-body .ck-editor__editable_inline {
  min-height: 600px;
}
