{% extends "appbuilder/base.html" %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1><center>{{_("OSGS")}}<center></h1>
<pre>
                              (  ) (@@) ( )  (@)  ()    @@    O     @     O     @      O
                         (@@@)
                     (    )
                  (@@@@)
                (   )
                ++      +------ ____                 ____________________ ____________________
                ||      |+-+ |  |   \@@@@@@@@@@@     |  ___ ___ ___ ___ | |  ___ ___ ___ ___ |
              /---------|| | |  |    \@@@@@@@@@@@@@_ |  |_| |_| |_| |_| | |  |_| |_| |_| |_| |
             + ========  +-+ |  |                  | |__________________| |__________________|
            _|--O========O~\-+  |__________________| |__________________| |__________________|
           //// \_/      \_/       (O)       (O)        (O)        (O)       (O)        (O)
</pre>
    <h2><center>{{_('Welcome')}}<center></h2>
      <div class="well">
      Go get creative!
      </div>
  </div>
</div>
{% endblock %}

