{% extends "appbuilder/base.html" %} {% block content %}

<div class="jumbotron">
  <div class="container" style="margin-top: -3rem">
    <h2><center>{{_("OSGS SL")}}</center></h2>
    <pre>
                              (  ) (@@) ( )  (@)  ()    @@    O     @     O     @      O
                         (@@@)
                     (    )
                  (@@@@)
                (   )
                ++      +------ ____                 ____________________ ____________________ ____________________
                ||      |+-+ |  |   \@@@@@@@@@@@     |  ___ ___ ___ ___ | |  ___ ___ ___ ___ | |  ___ ___ ___ ___ |
              /---------|| | |  |    \@@@@@@@@@@@@@_ |  |_| |_| |_| |_| | |  |_| |_| |_| |_| | |  |_| |_| |_| |_| |
             + ========  +-+ |  |                  | |__________________| |__________________| |__________________|
            _|--O========O~\-+  |__________________| |__________________| |__________________| |__________________|
           //// \_/      \_/       (O)       (O)        (O)        (O)       (O)        (O)       (O)        (O)
</pre
    >
    <h3><center>{{_('Quick Actions')}}</center></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-primary btn-block"
            style="padding: 2rem"
            href="/pages/create/map"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-map" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Create Map Article</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-default btn-block"
            style="padding: 2rem"
            href="#"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-file-text" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Create Text Article</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-primary btn-block"
            style="padding: 2rem"
            href="#"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-compass" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Publish QGIS Project</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-default btn-block"
            style="padding: 2rem"
            href="#"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-rocket" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Deploy Blueprint</span>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-default btn-block"
            style="padding: 2rem"
            href="#"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-dashboard" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Import dashboards</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-primary btn-block"
            style="padding: 2rem"
            href="https://docs-v8.terria.io/guide/customizing/client-side-config/"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-globe" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Create webmap project</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-default btn-block"
            style="padding: 2rem"
            href="https://turfjs.org/"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-magic" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Create data</span>
            </div>
          </a>
        </div>
        <div class="col-md-3" style="padding-top: 2rem">
          <a
            class="btn btn-primary btn-block"
            style="padding: 2rem"
            href="https://pelias.io/"
            role="button"
          >
            <div class="row">
              <i class="fa fa-lg fa-search" style="padding-bottom: 1rem"></i>
            </div>
            <div class="row">
              <span>Search location data</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
